# GitHub Token for mise tools installation (to avoid rate limits)
# <https://github.com/settings/personal-access-tokens/new?name=node-addon-slsa>
# GITHUB_TOKEN= # github_token_with_read_only_access_to_public_repositories
